<div class="container d-flex justify-content-center align-items-center min-vh-100 ">
    <div class="col-md-6 border rounded-5 p-3 bg-white shadow">
        <div class="row align-items-center">
            <div class="header-text mb-4">
                <h2>Bienvenido</h2>
                <p>Ingresa tus datos para continuar.</p>
            </div>
            <form novalidate>
                
                <div class="input-group mb-3">
                    <input type="email" name="correo" [(ngModel)]="user.email"
                        class="form-control form-control-lg bg-light fs-6" placeholder="Correo" value="">
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" [(ngModel)]="user.password"
                        class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña" value="">
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword"
                        class="form-control form-control-lg bg-light fs-6" placeholder="Confirma tu contraseña"
                        value="">
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6" (click)="signUp()">Regístrate</button>
                    
                </div>

                

                <div class="row">
                    <small>¿Ya tienes una cuenta? <a href="/login">Inicia</a></small>
                </div>
                
            </form> 
        </div>
    </div>
</div>
